.forcast {
    border-radius: 20px;
    display: flex;
    margin-top: 30px;
    background: #003339;
    padding: 0 25px;
}

.cloud-details {
    width: 60px;
    text-align: center;
    /* border: 1px solid black; */
    height: 92px;
    padding:9px
}
.cloud-details p {
    color: #fafafa;
    font-size: 14px;
}

.cloud-details img {
    width: 40px;
    margin: auto;
}